
*.bin
*.meta
*.fbx
*.png
*.gltf
*.mtl
*.obj
*.url
*.txt
*.unity
*.mat
*.cubemap
*.asset
*.exr
*.terrainlayer
*.h
*.mm
*.pch
*.m
*.cpp
*.config
SpaceShooterVR/attemptv1/Data/globalgamemanagers
*.json
*.dat
*.assets
*.resS
*.dll
*.pdb
*.xml
*.dylib
SpaceShooterVR/attemptv1/Data/level0
SpaceShooterVR/attemptv1/Data/Resources/unity_builtin_extra
SpaceShooterVR/attemptv1/Data/unity default resources
SpaceShooterVR/attemptv1/Il2CppOutputProject/IL2CPP/build/deploy_arm64/Analytics
SpaceShooterVR/attemptv1/Il2CppOutputProject/IL2CPP/build/deploy_arm64/bee_backend/mac-arm64/bee_backend
SpaceShooterVR/attemptv1/Il2CppOutputProject/IL2CPP/build/deploy_arm64/createdump
SpaceShooterVR/attemptv1/Il2CppOutputProject/IL2CPP/build/deploy_arm64/il2cpp
*.c
*.def
*.plist
*.storyboard
*.hw
*.a
*.sh
*.strings
*.pbxproj
*.xcworkspacedata
*.xcscheme
*.xcuserstate
.DS_Store
SpaceShooterVR/attemptv1/Il2CppOutputProject/IL2CPP/build/deploy_arm64/UnityLinker
SpaceShooterVR/attemptv1/Il2CppOutputProject/IL2CPP/build/deploy_x86_64/Analytics
SpaceShooterVR/attemptv1/Il2CppOutputProject/IL2CPP/build/deploy_x86_64/bee_backend/mac-x64/bee_backend
SpaceShooterVR/attemptv1/Il2CppOutputProject/IL2CPP/build/deploy_x86_64/createdump
SpaceShooterVR/attemptv1/Il2CppOutputProject/IL2CPP/build/deploy_x86_64/il2cpp
SpaceShooterVR/attemptv1/Il2CppOutputProject/IL2CPP/build/deploy_x86_64/UnityLinker
SpaceShooterVR/attemptv1/Il2CppOutputProject/IL2CPP/external/bdwgc/libatomic_ops/COPYING
SpaceShooterVR/attemptv1/Il2CppOutputProject/IL2CPP/external/bdwgc/libatomic_ops/README.md
SpaceShooterVR/attemptv1/Il2CppOutputProject/IL2CPP/external/bdwgc/README.md
SpaceShooterVR/attemptv1/Il2CppOutputProject/IL2CPP/external/xamarin-android/README
SpaceShooterVR/attemptv1/Il2CppOutputProject/IL2CPP/external/xxHash/cmake_unofficial/README.md
SpaceShooterVR/attemptv1/Il2CppOutputProject/IL2CPP/external/xxHash/README.md
SpaceShooterVR/attemptv1/Il2CppOutputProject/IL2CPP/external/zlib/README
SpaceShooterVR/attemptv1/Il2CppOutputProject/IL2CPP/il2cpp_root
SpaceShooterVR/attemptv1/Il2CppOutputProject/IL2CPP/libil2cpp/pch/pch-cpp.hpp
SpaceShooterVR/attemptv1/Il2CppOutputProject/IL2CPP/libil2cpp/libil2cpp.icalls
SpaceShooterVR/Library/AnnotationManager
SpaceShooterVR/Library/APIUpdater/project-dependencies.graph
SpaceShooterVR/Library/ArtifactDB
SpaceShooterVR/Library/ArtifactDB-lock
SpaceShooterVR/Library/Artifacts/00/0000f9e138d5f0699ace233517bc51bd
SpaceShooterVR/Library/Artifacts/00/0007f11ac2f59a90cd3ea1a317f15bc5
SpaceShooterVR/Library/Artifacts/00/00163b07802430d3f7f2a911c96fd790
SpaceShooterVR/Library/Artifacts/00/002802b8f1a758332477b5d82fca3561
SpaceShooterVR/Library/Artifacts/00/0043a0cd45e8f962395bbfe373cc094d
SpaceShooterVR/Library/Artifacts/00/0047d4cf9cd3c65aeef3f1db2be13e08
SpaceShooterVR/Library/Artifacts/00/004aa2d4c93f88b13d46ae24d1d513b0
SpaceShooterVR/Library/Artifacts/00/00648463bcd0aedb6f1231b693934e48
SpaceShooterVR/Library/Artifacts/00/0065a22f59af14846f6df5d8b915be29
SpaceShooterVR/Library/Artifacts/00/006e35c46a490c3bfac8594fa6e0c92f
SpaceShooterVR/Library/Artifacts/00/007ef153404ce484c460532af7dbe3f9
SpaceShooterVR/Library/Artifacts/00/0084e7f09604539d48e25ddabe84331c
SpaceShooterVR/Library/Artifacts/00/008ec56b65812db89cfc971f2538398a
SpaceShooterVR/Library/Artifacts/00/0091e17a4a7303c97237c66793e93983
SpaceShooterVR/Library/Artifacts/00/0099faeeefe13ebd2c6b67fc3d96cc35
SpaceShooterVR/Library/Artifacts/00/009bf2c2b4bb7222c606db9c603e4dd8
SpaceShooterVR/Library/Artifacts/00/00ac5085bb56969b89535a1afccadb5b
SpaceShooterVR/Library/Artifacts/00/00b567f2b534d30807d03c2499c4e426
SpaceShooterVR/Library/Artifacts/00/00cd841d0aa0be295009f9df2f9f3235
SpaceShooterVR/Library/Artifacts/00/00d23cf1bf4adb921e4fe2676f7016b0
SpaceShooterVR/Library/Artifacts/00/00d853fc8c102cab03efaa77c8acdc0c
SpaceShooterVR/Library/Artifacts/00/00dd066f48d80d071337c4620275ab42
SpaceShooterVR/Library/Artifacts/00/00dfa0edc18d0901140ad72cf614ba8d
SpaceShooterVR/Library/Artifacts/00/00fcdadd4f0c8e816fa42b1b8b45221b
SpaceShooterVR/Library/Artifacts/00/00fce0e998bbf1a1154c7c8ccdc8566b
SpaceShooterVR/Library/Artifacts/01/0109ca377ee44198ed54f9f26ec3e4dd
SpaceShooterVR/Library/Artifacts/01/010ad1a525d3cc637c03a301bea4f7dd
SpaceShooterVR/Library/Artifacts/01/01142e7dd9b5da9c6a22fc7d30c3f0db
SpaceShooterVR/Library/Artifacts/01/0117356fb531cc30b0d7275c80c74ab0
SpaceShooterVR/Library/Artifacts/01/011ac47c7382a087c4691988d43cfc36
SpaceShooterVR/Library/Artifacts/01/012e1681df11236a164d13354d966d1c
SpaceShooterVR/Library/Artifacts/01/013534b0ba6850d465545f3aa7582891
SpaceShooterVR/Library/Artifacts/01/0139bbc89b66a9d8d7ce3f0f2669355a
SpaceShooterVR/Library/Artifacts/01/01550ac583052d4b49c369fb84575682
SpaceShooterVR/Library/Artifacts/01/014c3b62eee2658bdcdc6b5034961b8a
SpaceShooterVR/Library/Artifacts/01/01580f6c8aa2748fa3299e4138505a42
SpaceShooterVR/Library/Artifacts/01/0167786ea5b613eacb908a63f108f338
SpaceShooterVR/Library/Artifacts/01/0173e0e05ea0dca3c556d52b639ceaf4
SpaceShooterVR/Library/Artifacts/01/017beb63766ff8f57a0cca8ac49e829f
SpaceShooterVR/Library/Artifacts/01/017f5a64719d037bd888bd5953e1af2f
SpaceShooterVR/Library/Artifacts/01/018a238197b03197f6b2657ccaec8dee
SpaceShooterVR/Library/Artifacts/01/018ce6f37a58f1642bc487c385f235bc
SpaceShooterVR/Library/Artifacts/01/0198a549c62ea485354686314ff0b67b
SpaceShooterVR/Library/Artifacts/01/019c0762e86b392f68a694b097a416ea
SpaceShooterVR/Library/Artifacts/01/01a77886ab08d2c7e4901ac88f78d413
SpaceShooterVR/Library/Artifacts/01/01c2df486e80d696815d969dad28f540
SpaceShooterVR/Library/Artifacts/01/01cb1d6a3bab8f241e506793a6d221f2
SpaceShooterVR/Library/Artifacts/01/01d2732d77b1edbca8a9f35630dd80da
SpaceShooterVR/Library/Artifacts/01/01fa584a25ff5e0b6150ad7b972f9d52
SpaceShooterVR/Library/Artifacts/01/01fbf84e5e9beda8a488801f108be6e2
SpaceShooterVR/Library/Artifacts/01/01fe3509391f922818c262d91e5d8878
SpaceShooterVR/Library/Artifacts/02/020d20afe13b72d4edb7ff2c25e85c07
SpaceShooterVR/Library/Artifacts/02/0216da85535290755c9dc6fafcc01b7a
SpaceShooterVR/Library/Artifacts/02/0227896950ee9b48c6afe006de88288f
SpaceShooterVR/Library/Artifacts/02/022b4cf3427e1b77619a8e0b7f619fd0
